version = 0.1

[default.validate.parameters]
lint = true
template_file = "infra/aws/template.yaml"

[default.deploy.parameters]
stack_name = "agentrail-beta-control-plane"
region = "ap-southeast-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
fail_on_empty_changeset = false
resolve_s3 = true
parameter_overrides = [
  "EnvironmentName=beta",
  "StageName=v1",
  "DomainName=api.agentrail.id"
]
